<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"; initial-scale="1.0">
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <link href="../UN2-EVFINAL1-v2.0-Salazar_Romero_Abarca/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="../UN2-EVFINAL1-v2.0-Salazar_Romero_Abarca/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />

</head>
<body bgcolor="#7fffd4">
<div class="jumbotron boxlogin container col-md-4 col-md-offset-4">
    <script src="../UN2-EVFINAL1-Salazar_Romero_Abarca/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../UN2-EVFINAL1-Salazar_Romero_Abarca/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="../UN2-EVFINAL1-Salazar_Romero_Abarca/bower_components/angular/angular.js"></script>
    <script src="../UN2-EVFINAL1-Salazar_Romero_Abarca/bower_components/angular-animate/angular-animate.min.js.map"></script>

    <script src="../UN2-EVFINAL1-v2.0-Salazar_Romero_Abarca/funciones.js"></script>

    <div class="text-center">
        <h2><I><PRE>Sistema de ticket</PRE></I></h2>


        <div ng-controller="ctrlTarea" class="container">
            <form>
            <div class="text-center has-feedback">
                <input type="text" ng-model="tarea.nombre" placeholder="Ingrese nueva tarea" class="text-center form-control">
                <br>
                <button autofocus="autofocus" ng-click="agregar()" class="btn btn-success" type="submit">Generar</button>
                </div>
        </form>


            <br>
    <div class="itemVarios bg-info">
                <div class="table-responsive item"  id="gridApiRest">

                    <table class="table table-bordered">

                        <tr>

                            <th class="text-center">Tarea</th>
                            <th class="text-center">Editar</th>
                            <th class="text-center">Eliminar</th>

                        </tr>

                        <tr ng-repeat="tarea in tareas">

                            <td>{{tarea.nombre}}</td>
                            <td><button ng-click="editaObjeto(tarea)" class="btn-default" type="submit">Editar</button></td>
                            <td><button ng-click="eliminar(tarea)" class="btn-danger" type="submit">Eliminar</button></td>

                        </tr>


                    </table>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>